<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive Source Components</title>

    <link rel="stylesheet" href="./styles.css" />

    <style>
      @import "/source/all.css";
      @import "/source/font-faces.css";

      @import "/components/button.css";
      @import "/components/checkbox.css";
      @import "/components/icons.css";
      @import "/components/label.css";
      @import "/components/spinner.css";
      @import "/components/text-input.css";
      @import "/components/select.css";
      @import "/components/toggle.css";
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
