* {
  box-sizing: border-box;
}

body {
  font-family:
    GuardianTextSans, "Guardian Text Sans Web", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  max-width: 940px;
  margin: 0 auto;

  background-color: white;

  border-left: 1px solid var(--src-neutral-86);
  border-right: 1px solid var(--src-neutral-86);

  padding-top: 48px;
}

h1 {
  margin: 0;
}

header {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

legend {
  font-weight: bold;
  font-size: 0.75rem;
  color: #707070;
  margin-bottom: 0.25rem;
}

fieldset label {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin-right: 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
}
