.playground__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;

  border-radius: 2px;
  border: 1px solid var(--src-neutral-86);

  padding: 1rem;
}

.playground__code {
  max-height: 300px;
}

.playground__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

::slotted(fieldset) {
  border: none;
  padding: 0;
  margin: 0;
}
