:host {
  display: block;
  background: white;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 28px;

  display: grid;

  grid-template-areas:
    "title ."
    "preview controls"
    "code code";

  grid-template-columns: 1fr 1fr;

  row-gap: 24px;
  column-gap: 20px;

  border-top: 1px solid var(--src-neutral-86);
}

h2 {
  grid-area: title;

  margin-top: 16px;
  margin-bottom: 0;
}

.playground__preview {
  grid-area: preview;
}

.playground__code {
  grid-area: code;
}

.playground__controls {
  grid-area: controls;
}

.playground__code {
  background-color: var(--src-neutral-97);
  border: 1px solid var(--src-neutral-86);

  border-radius: 4px;
  overflow: auto;
  margin: 0;
}

.playground__code pre {
  margin: 0;
  padding: 1rem;
  font-family:
    ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, monospace;
  font-size: 0.8rem;
  line-height: 1.5;
}

.playground__code code {
  background: none !important;
}
